body {
  font-size: 14px;
  font-family: "Comic Sans MS";
  position: relative;
  width: 100%;
}

.things-control {
  background: white;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.d3-box pre {
  position: absolute;
  left: 0;
  top: 0;
}

.d3-box .thing {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 20px;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  position: absolute;
  width: 40px;
  vertical-align: bottom;
  font-size: 10px;
  margin: -20px;
}

.d3-box .thing span {
  position: absolute;
  top: 10px;
  left: 16px;
}

.d3-box .things {
  border: 1px solid black;
  display: inline-block;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.d3-box .links-svg {
  width: 100%;
  height: 100%;
}

.d3-box .link {
  stroke-width: 1px;
  stroke: black;
}